@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 58px;
}

h3 {
    font-size: 48px;
}

.title-1 {
    font-size: 32px;
}

.title-2 {
    font-size: 24px;
    color: black;
}

.body-1 {
    font-size: 18px;
}

.body-2 {
    font-size: 16px;
}
.book {
    background: #FF6433;
    border-radius: 12px;
    width: 203px;
    height: 64px;
    color: white;
    font-size: 1.2rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}
.book:hover{
    transform: scale(1.1);
    transition: 0.5s all linear;
}
/* ONE STYLES START*/
.one {
    display: flex;
    background: rgba(226, 230, 233, 1);
    margin-top: 2rem;
    justify-content: center;
    padding: 2rem;
    height: 100vh;

}

.one h1 {
    width: 70%;
    font-size: 3rem;
    color: rgba(30, 27, 27, 1);
    margin-bottom: 1rem;
}

.servicing,
.quota {
    width: 45%;
    margin-top: 2rem;
}

.quota input {
    width: 100%;
    padding: 1rem;
    height: 72px;
    border: none;
    margin: 0.3rem 0;
    outline: none;
    font-size: 1.2rem;
}

.servicing .services {
    display: flex;
    width: 50%;
    margin: 1rem;
}

.servicing .services span {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.servicing p {
    margin: 1rem;
}

.servicing h1 {
    width: 90%;
    font-size: 3.5rem;
}

.servicing .services div {
    background-color: white;
    border-radius: 50%;
    height: 35px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 18px;
}

.more {
    display: flex;
    align-items: center;
    margin-left: 3rem;

}

.more img:hover {
    cursor: pointer;
}

/* ONE STYLES END */
/* TWO STYLES START */
.two {
    display: flex;
    background: white;
    margin-top: 2rem;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
}

.box-1,
.box-2 {
    width: 40%;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.box-2{
    height: 80vh;
}

.box-2 .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}

.icons div {
    display: flex;
    align-items: center;

}

.icons .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
}

.text .title-1 {
    margin: 1rem 0 1rem 0;
}

.line {
    position: relative;
    right: 41%;

}

/* TWO STYLES END */
/* THREE STYLES START */
.three {
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
}

.three .text {
    width: 854px;
    text-align: center;
}

.three .icons {
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.three .icon {
    background: white;
    width: 24%;
    height: 47%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
}

.icon img {
    margin-bottom: 1rem;
}

.three .wheel {
    background-color: #FF6433;
}

.three .body-1 {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    width: 80%;
    float: right;
    justify-content: end;
}

.three .body-1 img {
    margin-left: 0.5rem;
}

/* THREE STYLES END */
/* FOUR STYLES START*/
.four {
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imgs {
    display: flex;
    width: 100%;
    height: 70%;
}

.imgs .white-car,
.jumper {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.white-car {
    background: url(./images/white\ car.png);
}

.jumper {
    background: url(./images/jumper.png);
}

.orange {
    height: 70%;
    width: 50%;
    position: absolute;
    background: #FF6433;
    left: 20%;
    color: white;
    padding: 0 4rem;


}

.orange h3 {
    margin-top: 10rem;
}

.orange .book {
    background: #1E1B1B;
}

.four .numbers {
    height: 30%;
    width: 100%;
}

.numbers .stats {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.stats .stat {
    margin: 0 5rem;
}

.stat .title-2 {
    margin-top: 1rem;
}

/* FOUR STYLES END */
/* FIVE STYLES START*/
.five{
    height: 70vh;
    width: 100%;
    display: flex;
    background: #FAFAFA;
}
.five h3{
    margin-top: 4rem;
}
.five .content{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.content .brands{
    width: 100%;
    height: 70%;
    margin-top: 3rem;
}
.brands img{
    width: 100%;
}
/* FIVE STYLES END */
